<!DOCTYPE html>
<html>
  <head>
    <title>Express.cats </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cat Express</h1>
    <p>Welcome to cat fact express</p>
    <a href="/cats/fact">Get a cat fact</a>
  </body>
</html>
